.notfound{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin:3rem 0;
}
.notfound h1{
    font-family: var(--saira);
    text-align: center;
}
.notfound > div img{
    max-width: 300px;
}