.collection-page{
    padding:5rem 2rem;
    min-height: 65vh;
}
.collection-header{
    padding-bottom:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--txt-gray); */
}
.collection-header p{
    color:var(--txt-gray)
}
.line{
    margin-bottom: 2rem;
    display: block;
    height:1px;
    background-image: linear-gradient(90deg,rgba(0,0,0,0),var(--txt-gray),rgba(0,0,0,0));
}
.empty-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.empty-collection button{
    padding:0.5rem 2rem;
    border: 0;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.5);
}  
.empty-collection p{
    color:var(--txt-gray);
    padding: 0.5rem;
    margin-bottom: 2rem;
}

@media (min-width:768px) {
    .collection-page{
        padding:3rem 5rem;
    }
}
@media (min-width:1024px) {
     .collection-page{
        padding:6rem 10rem;
     }
    
}

@media (min-width:1326px){
    .collection-page{
        padding:6rem 12rem;
     } 
}


