.exercises-section{
    /* background-color: var(--white-bg); */
    padding:3rem 2rem;
    /* color: var(--base-color); */
    color: var(--txt-white);  
}
.exercises-section h2 {
 text-align: center;
}
.exercises-section h2 span {
 font-family: var(--saira);
 font-size: 2rem;
}

/* search section  */
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    margin-top: 1rem;
    position: relative;
}
.search-container > p {
    position: absolute;
    bottom:-1rem;
    left:1rem;
    padding:0.3rem 0;
    border-bottom:1px solid rgb(236, 118, 118);
    color:rgb(241, 113, 113);
}
.search-container input{
width: 100%;
border:0;
outline: 0;
padding:0.5rem 1rem;
border-radius: 6px 0 0 6px;
box-shadow: var(--box-shadow);
color:var(--dark-purple);
}
.search-container button{
    padding:0.5rem 1rem;
    border:0;
    outline: 0;
    color:var(--txt-white);
    background-color: var(--light-purple);
    border-radius: 0 6px 6px 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.search-container button:hover{
    background-color: var(--pink);
    color:var(--light-purple);
}

/* bodyparts categories... */
.categories-container{
    position: relative;
    margin-top: 2rem;
  
}
.categories-container> h3{
    margin-bottom: 1rem;
}

.categories-container .arrow{
    position: absolute;
    top:0rem;
    display: none;
}
.categories-container .arrow.arrow-left{
  right:5rem;
  transform: rotate(180deg);
}
.categories-container .arrow.arrow-right{
  right:2rem;
}

.categories{
    display: flex;
    /* justify-content: space-between; */
    gap:2rem;
    overflow-x: scroll;
    padding:1rem 0;
}

.categories::-webkit-scrollbar{
    display: none;
}
.categories > span{
    padding:0.5rem 1rem;
    background-color: var(--dark-purple);
    color:var(--white-bg);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    white-space: nowrap;
    text-transform: capitalize;
}

/* Exercises container */
.exercises{
    margin-top: 4rem;
    width: 100%;

}
.exercises>  h3{
    margin-bottom: 2rem;
}
 .exercises-wrapper{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
  
}

/* pagination */
.pagination-container{
margin-top: 3rem;
padding:1rem;

}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:0.3rem;
    color:var(--txt-white);
}
.page-item{
    padding:2px 8px;
    border-radius: 6px;
    background-color: var(--dark-purple);
    border:1px solid var(--pink);
    cursor: pointer;
}

.page-link{
    border:0;
}
.active{
    background-color: var(--light-purple);
    color:var(--pink);
    transform: scale(0.95);
}






@media (min-width:768px) {
    .exercises-section{
        padding:3rem 5rem;
    }
    .categories-container .arrow{
        display: block;
    }
    .exercises-wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:1.5rem;
      
    }
}
@media (min-width:1024px) {
     .exercises-section{
        padding:3rem 10rem;
     }
     .exercises-wrapper{
        
        grid-template-columns: 1fr 1fr 1fr;
        gap:2rem;
      
    }
}

@media (min-width:1326px){
    .exercises-section{
        padding:3rem 12rem;
     } 
}
@media (min-width:1550px){
     .categories-container .arrow{
        display: none;
    }
    
}

