@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Saira+Stencil+One&display=swap');


:root{
  --base-color: #1F1D36;
  --dark-purple: #3F3351;
  --light-purple:#864879;
  --pink:#E9A6A6;
  --white-bg:rgb(255, 255, 255);
  --txt-white:rgb(236, 236, 236);
  --txt-gray:rgb(163, 162, 162);
  --txt-dark:#1F1D36;
 --box-shadow: -2px 2px 10px -3px rgba(1, 2, 1, 0.85);

 --saira:'Saira Stencil One', cursive;
 --roboto:'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  font-family: var(--roboto);
  color:var(--txt-white);
}
html {
  background-color: var(--base-color);
  /* background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  background-image: url("https://www.transparenttextures.com/patterns/snow.png");
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); */
}
a{
  color:unset;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
